.footer {
  text-align: center;
  margin-top: 30px;
  color: #444;
  font-size: 0.8em;
}

.footer a {
  color: var(--color-accent);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
